

.new_button {
    height: 30px;
    border: none;
    transition:  20ms ease-in 0s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 1.1;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
    background: rgb(6, 156, 205);
    color: white;

}