.calculate_btns {
    height: 30px;
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-align: left;

    &:hover {
        background-color: #f0f0f0;
    }
}