@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: $Monserat;
    color: $gray;
}


.css-1aquho2-MuiTabs-indicator {
    background-color: #000 !important;
}

.MuiTab-labelIcon {
    white-space: nowrap !important;
    & :last-child {
        cursor:grab !important;
    }
}

.MuiTypography-root {
    padding: 0 !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root  {
    padding: 10px 24px 10px !important;
}

.comming_soon {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100px;
}