@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: $Monserat;
    color: $gray;
}


#root {
    width: 100vw;
    height: 100%;
}


.App {
    width: 100vw;
}


.css-1aquho2-MuiTabs-indicator {
    background-color: #000 !important;
}
