@import '../../style/variables.scss';


.tabs_section {
    @include flexCentre(row, space-between)
}

.tabs_container {
    display: flex;
    align-items: center;
}

.tabs_container {
    display: flex;
    &:first-child {
        display: flex;
    }
}


.tabs_container {
    display: flex;
    align-items: center;
}

.add_btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}


.tabs_btns_section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 50px;
}

.tab_popover_btn {
    color: #000 !important; 
}

