@import '../../style/variables.scss';


.tabs_section {
    @include flexCentre(row, space-between)
}

.tabs_container {
    display: flex;
    align-items: center;
}

.tabs_container {
    display: flex;
    &:first-child {
        display: flex;
    }
}


.tabs_container {
    display: flex;
    align-items: center;
}

.add_btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}




.tabs_btns_section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;   
}

.tab_popover_btn {
    color: #000 !important; 
}

.tab_popover_btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        @include customButtonGroup(left);
        padding:  0 10px;
      
        & :first-child {
            margin-right: 7px;
        }
    }

    .border_top{
        width: 100%;
        border-top: 1px solid rgba(153, 153, 153, 0.418) !important; 
    }
    
    .border_bottom{
        width: 100%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.418) !important;
    }

}
